/*
	Emily Meuer
	Feb. 7, 2018
*/

h1 {
	border-top: 	10px dotted #00cc99;
	border-bottom: 	10px dotted #00cc99;
	margin:			0px;
	background-color:	#ffffff;
	width:			100vw;
}

html {
	color: #003325;
}

body {
	height: 100vh;
	margin:0px;
}

canvas {
	width: 	20rem;
	height: 2rem;
	border:	1px solid #000000;
}

.static {
	position:	static;
}

.fixed {
	position:	fixed;
	top:		0px;
	z-index:	6;
}

#firstElement {
}

#pink {
	background-color:	#ff0066;
}

.relative {
	position:	relative;
}

.absolute {
	position: absolute;
}

.headerPlaceholder {
	position:	static;
	top:		10px;
	height:		20%;
}

.headerSpace {
	margin-top:			18%;
	z-index:			0;
}

.tallDiv {
	height: 			25em;
	background-color: 	#00cc99;
	z-index:	1;
}

.innerDiv {
	height: 	80%;
	width: 		80%;
	margin:		auto;
	z-index:			2;
}

.yellow {
	background-color:	#ffff99;
	z-index:			4;
}

.pink {
	background-color:	#ff0066;
}

.lightPink {
	background-color:	#ffcccc;
	z-index:			3;
}

.blue {
	background-color:	#80ccff;
}

.purple {
	background-color:	#cc0099;
}

.floatLeft {
	float:	left;
}

.floatRight {
	float:	right;
}

.clearLeft {
	clear:	left;
}

.clearRight {
	clear:	right;
}